@import "tailwindcss";

 @theme {
  --opacity-2: 0.02;

  --font-inter: "Inter", system-ui, sans-serif;
  --text-tiny: 0.625rem; 
}

html { font-size: 10px; font-family: "Inter", system-ui, sans-serif; }